.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.container button {
  border-color: black;
}

.operations {
  display: flex;
  flex-direction: column;
  margin-left: 0.7rem;
}

.screen {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  border: 1px solid black;
  height: 5rem;
  width: 41rem;
  font-size: 32px;
  border-radius: 5px;
  background-color: black;
  color: white;
}

h1,
h2 {
  text-align: center;
  margin-top: 3rem;
}

body {
  font-family: "Croissant One", cursive;
  font-family: "Mooli", sans-serif;
}

.calculator {
  margin-top: -15rem;
}

.btn:hover {
  opacity: 0.9;
}

.btn:active {
  transform: scale(0.95);
}

.btn {
  border-radius: 5px;
}

.num,
.operation,
.AC,
.equals {
  font-size: 1.5rem;
  font-weight: bold;
}

.btn {
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
